<ion-view title="Jarz">
    <ion-nav-bar align-title="center" class="bar-positive header-size">

    </ion-nav-bar>
    <ion-content>

        <div class="text-center" style="background-color:#c4c4c4">
            <div class="row">
                <div class="col">
                    <i class="ion-android-radio-button-on">1</i>
                </div>
                <div class="col">
                    <i class="ion-android-radio-button-on">2</i>
                </div>
            </div>
            <div class="row">

                <div class="col">

                    Contact
                </div>
                <div class="col">Pay</div>
            </div>

        </div>


        <div class="row">
            <div class="col">

                <div>
                    <span class="item item-avatar">
                    <img src="img/icon.png">

                    </span>
                    You
                </div>
            </div>

            <div class="col">

                <div>
                    <span class="item item-avatar">
                    <img src="img/icon.png">
                    </span>
                </div>
            </div>
            <div class="col">

                <div>
                    <span class="item item-avatar">
                    <img src="img/icon.png">
                    </span>
                    Jaff
                </div>
            </div>

        </div>


        <div class="list card">

            <label class="item item-input item-select">
                You Send:
                <input type="tel" placeholder="0.00" ng-model="sendMoney">
                <option selected>GBP</option>
            </label>

            <label class="item item-input item-select">
                Jeff Receivers
                <input type="tel" placeholder="0.00" ng-model="receiveMoney">
                <select>
                    <option>GBP</option>
                    <option>USD</option>

                </select>
            </label>

            <label class="item item-input">
                For:
                <input type="text" placeholder="For dinner,rent,etc" ng-model="purpose">
            </label>

        </div>

        <div class="text-center">

            <h4>
                Pay Very Little
            </h4>

            <h6>
                Estimated Rate is 1.5618 Fee is 0
            </h6>

            <a href="#">
                Redeem Free Transfer
            </a>

        </div>


    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title">PAY JAFF</div>
    </div>
</ion-view>

