<ion-view title="Jarz">
    <ion-nav-bar align-title="center" class="bar-positive header-size">

    </ion-nav-bar>
    <ion-content>

        <div class="text-center">
            <div class="row">
                <div class="col">
                    <i class="ion-android-radio-button-on"></i>
                </div>
                <div class="col">
                    <i class="ion-android-radio-button-on"></i>
                </div>
            </div>
            <div class="row">

                <div class="col">

                    Contact
                </div>
                <div class="col">Pay</div>
            </div>
        </div>


        <a class="item item-avatar" href="#">
            <img src="img/ionic.png">

        </a>
        <a class="item item-avatar" href="#">
            <img src="img/ionic.png">

        </a>


        <div class="list card">

            <label class="item item-input item-select">
                You Send:
                <input type="tel" placeholder="0.00" ng-model="sendMoney">
                <option selected>GBP</option>
            </label>

            <label class="item item-input item-select">
                Jeff Receivers
                <input type="tel" placeholder="0.00" ng-model="receiveMoney">
                <select>
                    <option selected>GBP</option>
                    <option>USD</option>

                </select>
            </label>

            <label class="item item-input">
                For:
                <input type="text" placeholder="For dinner,rent,etc" ng-model="purpose">
            </label>

        </div>

        <div class="text-center">

            <h4>
                Pay Very Little
            </h4>

            <h6>
                Estimated Rate is 1.5618 Fee is 0
            </h6>

            <a href="#">
                Redeem Free Transfer
            </a>

        </div>






    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title">PAY JAFF</div>
    </div>
</ion-view>

